- @title = "FakeWeb for the Browser"
%article#blog
  %section
    %time{ :datetime => "28-06-2010" }
      %span.date 28
      %span.month Jun
    %h1
      FakeWeb for the Browser

    %p Before releasing <a href="http://rubygems.org/gems/akephalos">akephalos-0.0.5</a>, I spent some time attempting to resolve some random failures that were showing up in our real integration suites, but not in capybara or akephalos' specs. Along the way, I realized that because akephalos (and the same goes for selenium) behaves just like a real browser, all of our pages with <code>&lt;script&gt;</code> tags for Facebook Connect, Google Analytics, and Google Maps were actually going out over the network to load the data. Even worse, the Google Maps code was being run on every page&#8212;building tiles, placing markers, etc.&#8212;which was killing the performace even though no scenarios actually tested the maps. Perhaps not surprisingly, after disabling these resource-intensive external javascripts, the random failures disappeared.

    %p I decided, then, that we needed something like FakeWeb except for resources requested by the browser itself, and after a bit of digging in the HTMLUnit docs, I was able to wire up what I needed to implement filters for akephalos.

  %section
    %h2 Akephalos Filters
    %p Configuring filters in akephalos should be familiar to anyone who has used FakeWeb or a similar library. The simplest filter requires only an <abbr>HTTP</abbr> method (<code>:get</code>, <code>:post</code>, <code>:put</code>, <code>:delete</code>, <code>:any</code>) and a string or regex to match against.
  %aside= example :ruby, "simple.rb"
  %section
    %p By default, all filtered requests will return an empty body with a 200 status code. You can change this by passing additional options to your filter call.
  %aside= example :ruby, "complex.rb"

  %section
    %p And that's really all there is to it! It should be fairly trivial to set up filters for the external resources you need to fake. For reference, however, here's what we ended up using for our external sources.

  %section
    %h4 Google Analytics
    %p Google Analytics code is passively applied based on HTML comments, so simply returning an empty response body is enough to disable it without errors.
  %aside= example :ruby, "googleanalytics.rb"

  %section
    %h4 Facebook Connect
    %p When you enable Facebook Connect on your page, the FeatureLoader is requested, and then additional resources are loaded when you call <code>FB_RequireFeatures</code>. We can therefore return an empty function from our filter to disable all Facebook Connect code.
  %aside= example :ruby, "fbconnect.rb"

  %section
    %h4 Google Maps
    %p
      Google Maps requires the most extensive amount of API definitions of the three, but these few lines cover everything we've encountered so far.
  %aside= example :ruby, "googlemaps.rb"
